<!-- partial:partials/_sidebar.html -->
<div class="sidebar">
    <!-- <div class="user-profile">
      <div class="display-avatar animated-avatar">
        <img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image">
      </div>
      <div class="info-wrapper">
        <p class="user-name">Allen Clerk</p>
        <h6 class="display-income">$3,400,00</h6>
      </div>
    </div> -->
    <ul class="navigation-menu">
      <!-- <li class="nav-category-divider">MAIN</li> -->
      <li>
        <a href="index.html">
          <span class="link-title">Dashboard</span>
          <i class="mdi mdi-gauge link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Applied Applications</span>
          <i class="mdi mdi-buffer link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Sortlisted Applications</span>
          <i class="mdi mdi-gauge link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Interviewd Applications</span>
          <i class="mdi mdi-account-multiple link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Selecetd Applications</span>
          <i class="mdi mdi-account-check link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">On Boarded Applications</span>
          <i class="mdi mdi-checkbox-multiple-marked-circle-outline link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">On Hold Applications</span>
          <i class="mdi mdi-chart-arc link-icon"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Rejected Applications</span>
          <i class="mdi mdi-account-remove link-icon"></i>
        </a>
      </li>
      
      <li>
        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Analytics</span>
          <i class="mdi mdi-clipboard-text link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="ui-elements">
          <li>
            <a href="pages/ui-components/buttons.html">Buttons</a>
          </li>
          <li>
            <a href="pages/ui-components/tables.html">Tables</a>
          </li>
          <li>
            <a href="pages/ui-components/typography.html">Typography</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Settings</span>
          <i class="mdi mdi-settings link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="sample-pages">
          <li>
            <a href="pages/sample-pages/login_1.html" target="_blank">Login</a>
          </li>
          <li>
            <a href="pages/sample-pages/error_2.html" target="_blank">Error</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="index.html">
          <span class="link-title">Rejected Applications</span>
          <i class="mdi mdi-account-remove link-icon"></i>
        </a>
      </li>
      <li>
        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Vacancies</span>
          <i class="mdi mdi-clipboard-text link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="ui-elements">
          <li>
            <a href="pages/ui-components/buttons.html">Buttons</a>
          </li>
          <li>
            <a href="pages/ui-components/tables.html">Tables</a>
          </li>
          <li>
            <a href="pages/ui-components/typography.html">Typography</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Users</span>
          <i class="mdi mdi-settings link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="sample-pages">
          <li>
            <a href="pages/sample-pages/login_1.html" target="_blank">Login</a>
          </li>
          <li>
            <a href="pages/sample-pages/error_2.html" target="_blank">Error</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="pages/icons/material-icons.html">
          <span class="link-title">Change Password</span>
          <i class="mdi mdi-flower-tulip-outline link-icon"></i>
        </a>
      </li>

      <li>
        <a href="/login/logout">
          <span class="link-title">Logout</span>
          <i class="mdi mdi-asterisk link-icon"></i>
        </a>
      </li>
    </ul>
   
  </div>
  <!-- partial -->